---
http_interactions:
- request:
    method: get
    uri: https://api.shipengine.com/v1/labels?carrier_id=se-132585&service_code=usps_priority_mail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - EQeX7jWYui+rPivFlrxT13siOrDlQvoEfmXCASNTOAU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shipengine-Requestid:
      - a3720bc6-f154-4a5c-9dd8-90150f032039
    body:
      encoding: UTF-8
      string: "{\r\n  \"labels\": [],\r\n  \"total\": 0,\r\n  \"page\": 1,\r\n  \"pages\":
        0,\r\n  \"links\": {\r\n    \"first\": {\r\n      \"href\": \"https://api.shipengine.com/v1/labels?carrier_id=se-132585&service_code=usps_priority_mail&page=1&page_size=25\"\r\n
        \   },\r\n    \"last\": {\r\n      \"href\": \"https://api.shipengine.com/v1/labels?carrier_id=se-132585&service_code=usps_priority_mail&page=1&page_size=25\"\r\n
        \   },\r\n    \"prev\": {},\r\n    \"next\": {}\r\n  }\r\n}"
  recorded_at: Thu, 21 Sep 2017 16:15:15 GMT
recorded_with: VCR 3.0.3
