---
http_interactions:
- request:
    method: post
    uri: https://api.shipengine.com/v1/labels
    body:
      encoding: UTF-8
      string: '{"shipment":{"service_code":"usps_priority_mail","ship_to":{"name":"Mickey
        and Minnie Mouse","phone":"+1 (714) 781-4565","company_name":"The Walt Disney
        Company","address_line1":"500 South Buena Vista Street","city_locality":"Burbank","state_province":"CA","postal_code":"91521","country_code":"US","address_residential_indicator":"No"},"ship_from":{"name":"Shippy","phone":"512-485-4282","company_name":"ShipStation","address_line1":"3800
        N. Lamar Blvd.","address_line2":"Suite 220","city_locality":"Austin","state_province":"TX","postal_code":"78756","country_code":"US","address_residential_indicator":"No"},"packages":[{"weight":{"value":1.0,"unit":"ounce"}}]},"test_label":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - EQeX7jWYui+rPivFlrxT13siOrDlQvoEfmXCASNTOAU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shipengine-Requestid:
      - f54e63a0-6a90-41d9-9aa8-861557cc5d70
    body:
      encoding: UTF-8
      string: "{\r\n  \"label_id\": \"se-test-145280020\",\r\n  \"status\": \"processing\",\r\n
        \ \"shipment_id\": \"se-145280020\",\r\n  \"ship_date\": \"2017-09-18T00:00:00Z\",\r\n
        \ \"created_at\": \"2017-09-18T22:49:31.8605912Z\",\r\n  \"shipment_cost\":
        {\r\n    \"currency\": \"usd\",\r\n    \"amount\": 0.0\r\n  },\r\n  \"insurance_cost\":
        {\r\n    \"currency\": \"usd\",\r\n    \"amount\": 0.0\r\n  },\r\n  \"tracking_number\":
        \"9999999999999\",\r\n  \"is_return_label\": false,\r\n  \"is_international\":
        false,\r\n  \"batch_id\": \"\",\r\n  \"carrier_id\": \"se-132585\",\r\n  \"service_code\":
        \"usps_priority_mail\",\r\n  \"package_code\": \"package\",\r\n  \"voided\":
        false,\r\n  \"voided_at\": null,\r\n  \"label_format\": \"pdf\",\r\n  \"label_layout\":
        \"4x6\",\r\n  \"trackable\": true,\r\n  \"carrier_code\": \"stamps_com\",\r\n
        \ \"tracking_status\": \"unknown\",\r\n  \"label_download\": {\r\n    \"href\":
        \"https://api.shipengine.com/v1/downloads/6/iishP6TXf0CcBjAvWIbJDA/testlabel-145280020.pdf\"\r\n
        \ },\r\n  \"form_download\": null,\r\n  \"insurance_claim\": null\r\n}"
  recorded_at: Mon, 18 Sep 2017 22:49:31 GMT
recorded_with: VCR 3.0.3
