=begin
#ShipEngine

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module ShipEngine
  class AddressValidationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # 
    # @param addresses 
    # @param [Hash] opts the optional parameters
    # @return [Array<AddressValidationResponseDTO>]
    def validate_addresses(addresses, opts = {})
      data, _status_code, _headers = validate_addresses_with_http_info(addresses, opts)
      return { body: data.to_hash, status_code: _status_code, headers: _headers }
    end

    private

    # 
    # 
    # @param addresses 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AddressValidationResponseDTO>, Fixnum, Hash)>] Array<AddressValidationResponseDTO> data, response status code and response headers
    def validate_addresses_with_http_info(addresses, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AddressValidationApi.validate_addresses ..."
      end
      # verify the required parameter 'addresses' is set
      if @api_client.config.client_side_validation && addresses.nil?
        fail ArgumentError, "Missing the required parameter 'addresses' when calling AddressValidationApi.validate_addresses"
      end
      # resource path
      local_var_path = "/v1/addresses/validate"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(addresses)
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<AddressValidationResponseDTO>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddressValidationApi#validate_addresses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
