=begin
#ShipEngine

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1-SNAPSHOT

=end

require "uri"

module ShipEngineApi
  class BatchesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # 
    # @param batch_id 
    # @param request 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def batches_add_to_batch(batch_id, request, api_key, opts = {})
      batches_add_to_batch_with_http_info(batch_id, request, api_key, opts)
      return nil
    end

    # 
    # 
    # @param batch_id 
    # @param request 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def batches_add_to_batch_with_http_info(batch_id, request, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BatchesApi.batches_add_to_batch ..."
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling BatchesApi.batches_add_to_batch"
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling BatchesApi.batches_add_to_batch"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling BatchesApi.batches_add_to_batch"
      end
      # resource path
      local_var_path = "/v1/batches/{batch_id}/add".sub('{' + 'batch_id' + '}', batch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json'])
      header_params[:'api-key'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(request)
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#batches_add_to_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param request 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Batch]
    def batches_create(request, api_key, opts = {})
      data, _status_code, _headers = batches_create_with_http_info(request, api_key, opts)
      return data
    end

    # 
    # 
    # @param request 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(Batch, Fixnum, Hash)>] Batch data, response status code and response headers
    def batches_create_with_http_info(request, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BatchesApi.batches_create ..."
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling BatchesApi.batches_create"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling BatchesApi.batches_create"
      end
      # resource path
      local_var_path = "/v1/batches"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json'])
      header_params[:'api-key'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(request)
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Batch')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#batches_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param batch_id 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Batch]
    def batches_get(batch_id, api_key, opts = {})
      data, _status_code, _headers = batches_get_with_http_info(batch_id, api_key, opts)
      return data
    end

    # 
    # 
    # @param batch_id 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(Batch, Fixnum, Hash)>] Batch data, response status code and response headers
    def batches_get_with_http_info(batch_id, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BatchesApi.batches_get ..."
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling BatchesApi.batches_get"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling BatchesApi.batches_get"
      end
      # resource path
      local_var_path = "/v1/batches/{batch_id}".sub('{' + 'batch_id' + '}', batch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      header_params[:'api-key'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Batch')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#batches_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param external_batch_id 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def batches_get_by_external_id(external_batch_id, api_key, opts = {})
      batches_get_by_external_id_with_http_info(external_batch_id, api_key, opts)
      return nil
    end

    # 
    # 
    # @param external_batch_id 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def batches_get_by_external_id_with_http_info(external_batch_id, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BatchesApi.batches_get_by_external_id ..."
      end
      # verify the required parameter 'external_batch_id' is set
      if @api_client.config.client_side_validation && external_batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_batch_id' when calling BatchesApi.batches_get_by_external_id"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling BatchesApi.batches_get_by_external_id"
      end
      # resource path
      local_var_path = "/v1/batches/external_batch_id/{external_batch_id}".sub('{' + 'external_batch_id' + '}', external_batch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      header_params[:'api-key'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#batches_get_by_external_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :sort_dir 
    # @option opts [String] :sort_by 
    # @return [ListBatchResponse]
    def batches_list(api_key, opts = {})
      data, _status_code, _headers = batches_list_with_http_info(api_key, opts)
      return data
    end

    # 
    # 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :page 
    # @option opts [Integer] :page_size 
    # @option opts [String] :sort_dir 
    # @option opts [String] :sort_by 
    # @return [Array<(ListBatchResponse, Fixnum, Hash)>] ListBatchResponse data, response status code and response headers
    def batches_list_with_http_info(api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BatchesApi.batches_list ..."
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling BatchesApi.batches_list"
      end
      if @api_client.config.client_side_validation && opts[:'status'] && !['open', 'queued', 'processing', 'completed', 'completed_with_errors', 'archived', 'notifying', 'invalid'].include?(opts[:'status'])
        fail ArgumentError, 'invalid value for "status", must be one of open, queued, processing, completed, completed_with_errors, archived, notifying, invalid'
      end
      if @api_client.config.client_side_validation && opts[:'sort_dir'] && !['asc', 'desc'].include?(opts[:'sort_dir'])
        fail ArgumentError, 'invalid value for "sort_dir", must be one of asc, desc'
      end
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !['ship_date', 'processed_at'].include?(opts[:'sort_by'])
        fail ArgumentError, 'invalid value for "sort_by", must be one of ship_date, processed_at'
      end
      # resource path
      local_var_path = "/v1/batches"

      # query parameters
      query_params = {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort_dir'] = opts[:'sort_dir'] if !opts[:'sort_dir'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      header_params[:'api-key'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListBatchResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#batches_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param batch_id 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :pagesize 
    # @return [BatchResponseErrors]
    def batches_list_errors(batch_id, api_key, opts = {})
      data, _status_code, _headers = batches_list_errors_with_http_info(batch_id, api_key, opts)
      return data
    end

    # 
    # 
    # @param batch_id 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :pagesize 
    # @return [Array<(BatchResponseErrors, Fixnum, Hash)>] BatchResponseErrors data, response status code and response headers
    def batches_list_errors_with_http_info(batch_id, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BatchesApi.batches_list_errors ..."
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling BatchesApi.batches_list_errors"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling BatchesApi.batches_list_errors"
      end
      # resource path
      local_var_path = "/v1/batches/{batch_id}/errors".sub('{' + 'batch_id' + '}', batch_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pagesize'] = opts[:'pagesize'] if !opts[:'pagesize'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      header_params[:'api-key'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BatchResponseErrors')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#batches_list_errors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param batch_id 
    # @param process_batch_request 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def batches_process(batch_id, process_batch_request, api_key, opts = {})
      batches_process_with_http_info(batch_id, process_batch_request, api_key, opts)
      return nil
    end

    # 
    # 
    # @param batch_id 
    # @param process_batch_request 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def batches_process_with_http_info(batch_id, process_batch_request, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BatchesApi.batches_process ..."
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling BatchesApi.batches_process"
      end
      # verify the required parameter 'process_batch_request' is set
      if @api_client.config.client_side_validation && process_batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'process_batch_request' when calling BatchesApi.batches_process"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling BatchesApi.batches_process"
      end
      # resource path
      local_var_path = "/v1/batches/{batch_id}/process/labels".sub('{' + 'batch_id' + '}', batch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json'])
      header_params[:'api-key'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(process_batch_request)
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#batches_process\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param batch_id 
    # @param request 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def batches_remove_from_batch(batch_id, request, api_key, opts = {})
      batches_remove_from_batch_with_http_info(batch_id, request, api_key, opts)
      return nil
    end

    # 
    # 
    # @param batch_id 
    # @param request 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def batches_remove_from_batch_with_http_info(batch_id, request, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BatchesApi.batches_remove_from_batch ..."
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling BatchesApi.batches_remove_from_batch"
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling BatchesApi.batches_remove_from_batch"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling BatchesApi.batches_remove_from_batch"
      end
      # resource path
      local_var_path = "/v1/batches/{batch_id}/remove".sub('{' + 'batch_id' + '}', batch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json'])
      header_params[:'api-key'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(request)
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchesApi#batches_remove_from_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
