=begin
#ShipEngine

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1-SNAPSHOT

=end

require "uri"

module ShipEngineApi
  class CarriersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # 
    # @param carrier_id 
    # @param amount_to_add 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [BalanceResponse]
    def carriers_add_funds(carrier_id, amount_to_add, api_key, opts = {})
      data, _status_code, _headers = carriers_add_funds_with_http_info(carrier_id, amount_to_add, api_key, opts)
      return data
    end

    # 
    # 
    # @param carrier_id 
    # @param amount_to_add 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(BalanceResponse, Fixnum, Hash)>] BalanceResponse data, response status code and response headers
    def carriers_add_funds_with_http_info(carrier_id, amount_to_add, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CarriersApi.carriers_add_funds ..."
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.carriers_add_funds"
      end
      # verify the required parameter 'amount_to_add' is set
      if @api_client.config.client_side_validation && amount_to_add.nil?
        fail ArgumentError, "Missing the required parameter 'amount_to_add' when calling CarriersApi.carriers_add_funds"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling CarriersApi.carriers_add_funds"
      end
      # resource path
      local_var_path = "/v1/carriers/{carrier_id}/add_funds".sub('{' + 'carrier_id' + '}', carrier_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json'])
      header_params[:'api-key'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(amount_to_add)
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BalanceResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#carriers_add_funds\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param carrier_id 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Carrier]
    def carriers_get(carrier_id, api_key, opts = {})
      data, _status_code, _headers = carriers_get_with_http_info(carrier_id, api_key, opts)
      return data
    end

    # 
    # 
    # @param carrier_id 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(Carrier, Fixnum, Hash)>] Carrier data, response status code and response headers
    def carriers_get_with_http_info(carrier_id, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CarriersApi.carriers_get ..."
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.carriers_get"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling CarriersApi.carriers_get"
      end
      # resource path
      local_var_path = "/v1/carriers/{carrier_id}".sub('{' + 'carrier_id' + '}', carrier_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      header_params[:'api-key'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Carrier')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#carriers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param carrier_id 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [CarrierListOptionsResponse]
    def carriers_get_options(carrier_id, api_key, opts = {})
      data, _status_code, _headers = carriers_get_options_with_http_info(carrier_id, api_key, opts)
      return data
    end

    # 
    # 
    # @param carrier_id 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CarrierListOptionsResponse, Fixnum, Hash)>] CarrierListOptionsResponse data, response status code and response headers
    def carriers_get_options_with_http_info(carrier_id, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CarriersApi.carriers_get_options ..."
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.carriers_get_options"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling CarriersApi.carriers_get_options"
      end
      # resource path
      local_var_path = "/v1/carriers/{carrier_id}/options".sub('{' + 'carrier_id' + '}', carrier_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      header_params[:'api-key'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CarrierListOptionsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#carriers_get_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [CarrierListResponse]
    def carriers_list(api_key, opts = {})
      data, _status_code, _headers = carriers_list_with_http_info(api_key, opts)
      return data
    end

    # 
    # 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CarrierListResponse, Fixnum, Hash)>] CarrierListResponse data, response status code and response headers
    def carriers_list_with_http_info(api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CarriersApi.carriers_list ..."
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling CarriersApi.carriers_list"
      end
      # resource path
      local_var_path = "/v1/carriers"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      header_params[:'api-key'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CarrierListResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#carriers_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param carrier_id 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [CarrierListPackagesResponse]
    def carriers_list_packages(carrier_id, api_key, opts = {})
      data, _status_code, _headers = carriers_list_packages_with_http_info(carrier_id, api_key, opts)
      return data
    end

    # 
    # 
    # @param carrier_id 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CarrierListPackagesResponse, Fixnum, Hash)>] CarrierListPackagesResponse data, response status code and response headers
    def carriers_list_packages_with_http_info(carrier_id, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CarriersApi.carriers_list_packages ..."
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.carriers_list_packages"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling CarriersApi.carriers_list_packages"
      end
      # resource path
      local_var_path = "/v1/carriers/{carrier_id}/packages".sub('{' + 'carrier_id' + '}', carrier_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      header_params[:'api-key'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CarrierListPackagesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#carriers_list_packages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param carrier_id 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [CarrierListServicesResponse]
    def carriers_list_services(carrier_id, api_key, opts = {})
      data, _status_code, _headers = carriers_list_services_with_http_info(carrier_id, api_key, opts)
      return data
    end

    # 
    # 
    # @param carrier_id 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CarrierListServicesResponse, Fixnum, Hash)>] CarrierListServicesResponse data, response status code and response headers
    def carriers_list_services_with_http_info(carrier_id, api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CarriersApi.carriers_list_services ..."
      end
      # verify the required parameter 'carrier_id' is set
      if @api_client.config.client_side_validation && carrier_id.nil?
        fail ArgumentError, "Missing the required parameter 'carrier_id' when calling CarriersApi.carriers_list_services"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling CarriersApi.carriers_list_services"
      end
      # resource path
      local_var_path = "/v1/carriers/{carrier_id}/services".sub('{' + 'carrier_id' + '}', carrier_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      header_params[:'api-key'] = api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api-key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CarrierListServicesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarriersApi#carriers_list_services\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
